<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>首页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body class="gray-bg home_page">
<div class="panel panel-default">
    <div style="padding: 10px 0 0 20px;">
        <div class="row">
            <div id="container"  style="height:300px;"></div>
        </div>
        <div class="row" style="height:100%;">
            <div class="col-md-6">
                <h4>接口用例合计</h4>
                <table class="table" id="robot-summary-table">
                    <tbody>
                        <tr>
                            <th></th>
                            <th>Total</th>
                            <th>Failed</th>
                            <th>Passed</th>
                            <th>Pass %</th>
                        </tr>
                        <tr>
                            <th>Last tests</th>
                            <td class="table-upper-row" style="border-left:0px;">3</td>
                            <td class="table-upper-row">
                                <span class="fail">2</span>
                            </td>
                            <td class="table-upper-row">1</td>
                            <td class="table-upper-row">33.3</td>
                        </tr>
                        <tr>
                            <th>All tests</th>
                            <td style="border-left:0px;">3</td>
                            <td>
                                <span class="fail">2</span>
                            </td>
                            <td>1</td>
                            <td>33.3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h4>UI用例合计</h4>
                <table class="table" id="robot-summary-table">
                    <tbody>
                        <tr>
                            <th></th>
                            <th>Total</th>
                            <th>Failed</th>
                            <th>Passed</th>
                            <th>Pass %</th>
                        </tr>
                        <tr>
                            <th>Last tests</th>
                            <td class="table-upper-row" style="border-left:0px;">3</td>
                            <td class="table-upper-row">
                                <span class="fail">2</span>
                            </td>
                            <td class="table-upper-row">1</td>
                            <td class="table-upper-row">33.3</td>
                        </tr>
                        <tr>
                            <th>All tests</th>
                            <td style="border-left:0px;">3</td>
                            <td>
                                <span class="fail">2</span>
                            </td>
                            <td>1</td>
                            <td>33.3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="height:100%;">
            <div class="col-md-12">
                <h4>历史执行</h4>
                <ul>
                    <li><a href="https://www.baidu.com">历史执行(#34)，执行时间：2019-12-25 11:00:00，执行人：张三</a></li>
                    <li><a href="https://www.baidu.com">历史执行(#31)，执行时间：2019-12-25 11:00:00，执行人：张三</a></li>
                    <li><a href="https://www.baidu.com">历史执行(#23)，执行时间：2019-12-25 11:00:00，执行人：张三</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


        <script type="text/javascript" src=/static/js/echarts.common.min.js></script>
        <script type="text/javascript">
			var dom = document.getElementById("container");
			var myChart = echarts.init(dom);
			var app = {};
			option = null;
			option = {
                title: {
                    text: '执行统计'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data:['上次成功数','上次失败数','上次总数','总成功数','总失败数','总用例数']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ['20191220','20191221','20191222','20191223','20191224','20191225','20191226']
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name:'上次成功数',
                        type:'line',
                        {#stack: '总量',#}
                        data:[12, 13, 10, 13, 9, 23, 21]
                    },
                    {
                        name:'上次失败数',
                        type:'line',
                        {#stack: '总量',#}
                        data:[22, 18, 19, 23, 29, 33, 31]
                    },
					{
                        name:'上次总数',
                        type:'line',
                        {#stack: '总量',#}
                        data:[34, 31, 29, 36, 38, 56, 52]
                    },
                    {
                        name:'总成功数',
                        type:'line',
                        {#stack: '总量',#}
                        data:[15, 23, 20, 15, 19, 33, 41]
                    },
                    {
                        name:'总失败数',
                        type:'line',
                        {#stack: '总量',#}
                        data:[32, 33, 30, 33, 39, 33, 32]
                    },
                    {
                        name:'总用例数',
                        type:'line',
                        {#stack: '总量',#}
                        data:[82, 93, 90, 93, 129, 133, 132]
                    }
                ]
            };
			;
			if (option && typeof option === "object") {
				myChart.setOption(option, true);
			}
        </script>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/openTab.js"></script>
    <script>
        $(function() {
            var contentHeight = parent.$("#content-main").height();
            $("body").height(contentHeight);
        });
    </script>
</body>
</html>