<!DOCTYPE html>
<html>
	<head>
	   <meta charset="utf-8">
	   <title>用户修改</title>
	   <link rel="stylesheet" href="/static/css/bootstrap.min.css">
	   <link rel="stylesheet" href="/static/themes/default/easyui.css">
	   <link rel="stylesheet" href="/static/themes/icon.css">
	   <link rel="stylesheet" href="/static/css/autotest.css">
	   <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	   <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	   <script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
       <script type="text/javascript" src="/static/easyui-lang-zh_CN.js"></script>
	</head>

	<body>
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm" novalidate="novalidate">
							<div class="form-group">
								<label class="col-md-2 control-label">工号：</label>
								<div class="col-md-3">
									<input id="subhqcode" name="subhqcode" class="form-control" required="" type="text">
								</div>
								<label class="col-md-2 control-label">姓名：</label>
								<div class="col-md-3">
									<input id="nodecode" name="nodecode" class="form-control" type="text" required="" aria-required="true">
								</div>
								<div class="col-md-1"></div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">账号：</label>
								<div class="col-md-3">
									<input id="nodename" name="nodename" class="form-control" type="text" required="" aria-required="true">
								</div>
								<label class="col-md-2 control-label">密码：</label>
								<div class="col-md-3">
									<input id="nodename" name="nodename" class="form-control" type="text" required="" aria-required="true">
								</div>
								<div class="col-md-1"></div>
							</div>
                                <div class="form-group">
								<label class="col-md-2 control-label">性别：</label>
								<div class="col-md-3">
									<select id="nodetype" name="nodetype" class="form-control">
										<option value="0" selected="">男</option>
										<option value="1">女</option>
									</select>
								</div>
                                <label class="col-md-2 control-label">备注：</label>
								<div class="col-md-3">
									<input id="nodename" name="nodename" class="form-control" type="text" required="" aria-required="true">
								</div>
								<div class="col-md-1"></div>
							</div>
							<div class="form-group">
								<div class="col-md-4 col-md-offset-8">
									<div class="col-md-3"><button class="btn btn-primary">保存</button></div>
									<div class="col-md-3"><button class="btn btn-primary">取消</button></div>
									<div class="col-md-6"></div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


		<script type="text/javascript">

		</script>
    </body>

</html>